.env
!.env.exmple
.venv/
venv/
env/
__pycache__/
.pytest_cache/
build/
*.log
*.pid
*.pid.lock
logs/*
data/
checkpoints/
**/_spark_metadata/
**/.sparkStaging/
spark-warehouse/
derby.log
!nifi/rejected/.gitkeep
nifi/database_repository/
nifi/flowfile_repository/
nifi/content_repository/
nifi/provenance_repository/
nifi/state/
nifi/work/
airflow.db
airflow.cfg
webserver_config.py
.vscode/
.idea/
Thumbs.db
desktop.ini
gold
processing

